.copilotKitPopup {
	right: initial;
	left: 1rem;
}

.copilotKitWindow {
	right: initial;
	margin-bottom: 0;
	left: 0.9rem;
	bottom: 0.9rem;
	border-radius: 0.5rem;
	overflow: hidden;
}

a.copilotKitMarkdownElement {
	margin-block: 0.5rem;
	@apply decoration-dotted underline underline-offset-4 text-inherit;
}
